@layer components {
  .vt-row {
    /* safary says no */
    position: relative;
    .placeholder {
      opacity: 0.35;
    }
    &.vt-row-padding {
      transition: none;
      transform: none;
      animation: none;
    }
    [data-loading-addon="true"] * {
      opacity: 0;
    }
  }
  .vt-sticky-rows-top {
    @apply sticky z-20!;
    .vt {
      @apply shadow-md border-t border-t-gray-400 dark:border-t-gray-700
        border-b border-b-gray-300 dark:border-b-gray-800;
    }
  }
  .vt-sticky-rows-bottom {
    @apply sticky z-20 bottom-0;
    .vt {
      --tw-shadow:
        0 -3px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 -2px 4px
        -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1)) !important;
      @apply border-t border-t-gray-300 dark:border-t-gray-700 shadow-md;
    }
  }
}
