@import "./cell/style.tailwind.css";
@import "./row/style.tailwind.css";
@import "./columns/style.tailwind.css";
@import "./ctxmenu/style.tailwind.css";
@import "./styling/style.tailwind.css";
@import "./datatype/style.tailwind.css";
@import "./enumerator/style.tailwind.css";
@import "./sorting/style.tailwind.css";
@import "./table/style.tailwind.css";

@layer components {
  .vt {
    @apply table w-auto table-fixed border-0 border-collapse rounded-none;
    tr {
      border: 0 !important;
    }

    .vt-loading td {
      pointer-events: none;
    }
    .vt-loading {
      animation: pulse 1.5s infinite;
      @apply bg-gray-300 dark:bg-gray-700/50 rounded-none;
    }
  }
}
