@import "./cell/style.tailwind.css";
@import "./row/style.tailwind.css";
@import "./columns/style.tailwind.css";
@import "./sorting/style.tailwind.css";
@import "./grouping/style.tailwind.css";
@import "./selector/style.tailwind.css";

@layer components {
  .vt {
    @apply table w-auto table-fixed border-0 border-collapse rounded-none;
    tr {
      border: 0 !important;
    }

    .vt-loading td {
      pointer-events: none;
    }
    .vt-loading {
      animation: pulse 1.5s infinite;
      background: rgba(0, 150, 219, 0.2);
    }
  }
}
