@layer components {
  .main-navbar {
    @apply fixed top-0 z-100 bg-transparent shadow-none w-16 p-2;
  }
  .main-aside {
    @apply -left-64 dense:-left-14 w-64 dense:w-14 min-w-64 dense:min-w-14
      aside-open:block fixed z-99 h-[calc(100vh)] top-0 overflow-y-auto
      overflow-x-hidden bg-base-200 border-r border-base-300 aside-open:left-0
      aside-open:dense:left-0 transition-[left] ease-in-out duration-200;
  }
  .main-aside-menu {
    @apply menu menu-lg bg-base-200 rounded-box w-full dense:!w-12;
    li {
      @apply dense:max-w-12 dense:w-12 dense:text-[0px] mt-2 p-0 m-0;
      a {
        @apply dense:w-14 dense:max-w-10 h-10 dense:text-[0px] m-0 pl-3
          items-center;
        svg {
          @apply mt-[1px] w-4;
        }
      }
    }
  }
  .main-outlet {
    @apply p-0 min-w-[320px] w-full max-w-[calc(100vw)]
      aside-open:dense:max-w-[calc(100vw-60px)]
      aside-open:max-w-[calc(100vw-260px)] overflow-x-auto max-h-screen
      min-h-screen sm:aside-open:ml-64 sm:dense:aside-open:ml-14 flex-1
      transition-all ease-in-out duration-200;
  }
  .main-aside-bottom {
    @apply absolute bottom-0 w-full p-3 flex justify-center items-center
      dense:flex-col gap-3;
  }
  .chart {
    svg {
      @apply !w-full !h-full;
    }
  }
  .scr {
    @apply after:content-[""] after:z-50 after:fixed after:bottom-0 after:left-0
      after:w-screen after:h-screen after:bg-gradient-to-t
      after:from-[#adadad37] after:to-transparent after:pointer-events-none;
  }
  a[aria-current="page"] {
    @apply menu-active;
  }

  .dashboard-page {
    @apply min-w-[calc(100%-3em)] w-fit p-4 m-6 border-1 border-[#cccccc24]
      rounded-2xl shadow-2xl min-h-[calc(100%-3em)];
  }

  /* Color all ancestor links of the current page
  a[aria-current="true"] {
    color: peachpuff;
  } */
}

@custom-variant aside-open {
  &:where([data-aside="1"] *) {
    @slot;
  }
}

@custom-variant aside-closed {
  &:where([data-aside="0"] *) {
    @slot;
  }
}

@custom-variant dense {
  &:where([data-dense="1"] *) {
    @slot;
  }
}
