@layer components {
  .vt-fmt {
    width: 100vw;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    user-select: none;
    @apply px-3;
  }

  .vt-default-edit {
    @apply textarea textarea-ghost w-full bg-accent/20 m-0 p-[calc(3%)] z-10
      rounded-none;
  }
  .vt-fmt-is-dirty {
    &::after {
      content: "";
      @apply absolute top-2 right-2 w-1 h-1 rounded-full bg-amber-400/70;
    }
  }
}
