@layer components {
  .vt-col {
    @apply p-0 sticky top-0 z-10 border-0 bg-gray-100 dark:bg-gray-800
      text-base-content after:border-r after:border-gray-300
      dark:after:border-gray-700;

    &:focus {
      @apply outline-none after:border after:border-sky-500/30;
    }

    &.stick-left {
      @apply after:border-gray-600 dark:after:border-gray-600;
    }

    &.stick-right {
      @apply after:border-l after:border-r-0 after:border-gray-600
        dark:after:border-gray-600;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: block;
    }

    .vt-col-wrap {
      @apply flex justify-start items-center;
    }
    .vt-col-content {
      @apply truncate px-3 min-w-32 w-full;
    }
    .vt-col-resize {
      @apply absolute -right-2 top-0 h-full w-4 cursor-col-resize select-none
        bg-transparent;
    }
    input {
      outline: none;
    }
  }
  .vt-header {
    @apply border-b border-b-gray-400 dark:border-b-gray-900 shadow
      dark:shadow-lg;

    .vt-header-skeleton {
      @apply h-10 bg-gray-100 dark:bg-gray-800 rounded-none;
    }
    .col-loading {
      @apply after:border-none!;
    }
  }
}
