@layer components {
  @keyframes apear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .vt-scrolling td * {
    animation-name: apear;
    animation-duration: 0.2s; /* How long the animation takes */
    animation-timing-function: ease-out; /* Makes it smooth */
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    opacity: 0;
  }
  .vt-settings {
    @apply rounded-none! dark:bg-gray-900! border-l border-l-sky-500/30;

    .vt-settings-close {
      @apply absolute right-1 top-1;
      button {
        @apply btn btn-ghost btn-circle;
      }
    }
    .vt-settings-header {
      @apply font-bold text-lg flex gap-3 items-center w-full;
    }
    .vt-settings-body {
      @apply mt-0 w-100;
    }
    .vt-settings-label {
      @apply block font-bold font-mono text-xs text-sky-950 dark:text-sky-50
        border-t-2 border-sky-900 dark:border-sky-100 px-0 pt-3 my-6;
    }
  }

  .vt-wrapper * {
    .input,
    .select,
    .textarea {
      @apply dark:bg-gray-900! outline-none!;
    }
  }
}
